In [ ]:
## 파이썬 자료형 Data Type
# 숫자형 Number
# 문자형 Str
# 리스트 List
# 튜플 Tuple, 딕셔너리 Dictionary, 집합형 Set
# 불리언 Boolean

In [ ]:
## Python
# Pydantic 라이브러리를 통해 데이터 타입을 명시하려는 움직임이 있다.

In [ ]:
# 숫자형 Number
a = 1
b = 2
# 사칙연산이 가능하다.
a + b
a - b
a * b
a / b

In [ ]:
# 실수형 Float
a = 1.0
b = -3.5

# 데이터 분석은 숫자 단위가
x = 3.14e3 # 3.14 * 10^(+3)
# e: 10의 배수
y = 3.14e-3 # 3.14 * 10^(-3)

In [ ]:
x = 3
y = 5
x ** y # x^y
x // y # x를 y로 나눈 몫
x % y # x를 y로 나눈 나머지

In [ ]:
# 문자형 String
# '' || ""로 구성
# python coding convention


# 문자열 슬라이싱 index & slicing
a = "Hello python!"

a[0]

# 역순은 음수로 한다.
a[-1]

# 범위 n:m n <= a < m
# 0과 마지막은 생략할 수 있다.
a[0:5]
a[:]
a[:5]
a[5:]

'Hello'

In [7]:
# Q. TitanicJames 를 영화 제목title과 감독director으로 슬라이싱 해보세요
a = "TitanicJames"
title = a[0:7]
director = a[-5:]
# director = a[7:12]

print(title, '-', director)

Titanic - James

In [4]:
# 문자열 포매팅 formatting
# 문자를 출력하는 다양한 방법
name = "soom"
age = 30

#print("Name: " + name + ", Age: " + age)

# 문자와 숫자를 +할 수 없기 때문에 형변환을 해야 한다.
print("Name: " + name + ", Age: " + str(age))

# format 사용
print("Name: {}, Age: {}".format(name, age))

# f-string 기법을 많이 쓴다. f를 기입하면 {} 내부가 변수로 인식된다
print(f"Name: {name}, Age: {age}")

Name: soom, Age: 30
Name: soom, Age: 30
Name: soom, Age: 30

In [1]:
# 문자열 함수
# strip
# 데이터 중간중간 space가 많아서 이를 가공해야 하는 경우
a = "          파이썬은 쉽다?     "
print(a)
#type(a)
b = a.strip()
print(b)

          파이썬은 쉽다?
파이썬은 쉽다?

In [5]:
# join
# 리스트형 응용
words = ['안녕', '하세요', '파이썬']
type(words)

sentence = "^^".join(words)

sentence

'안녕^^하세요^^파이썬'

In [6]:
# split
# '기준'을 기반으로 나눈다.
sentence.split("^^")

['안녕', '하세요', '파이썬']

In [11]:
# List
# 왜 리스트가 필요할까?
# 변수 관리의 용이성을 위해
# 여러 개의 변수를 한 곳에서 관리하기 위함
# [] 내부에 변수를 넣어 사용

x = ['a', 'b', 'c', 'd', 'e']
type(x)
# index를 기반으로 특정 변수를 가져올 수 있다.

x[0]

# 여러 개를 가져오고 싶다면 slicing을 사용
x[:3]

y = ['a', 'b', 'c', ['d', 'e']]

z = y[3]
print(z)
print(z[1])

print(y[3][1])

['d', 'e']
e
e

In [12]:
fruits = ['사과', '바나나', '체리']
print(fruits)

# 리스트의 끝에 변수 추가
fruits.append('오렌지')
print(fruits)

# 제거하려는 변수의 index 입력
fruits.pop(0)
print(fruits)

['사과', '바나나', '체리']
['사과', '바나나', '체리', '오렌지']
['바나나', '체리', '오렌지']

In [ ]:
nums = [10, 6, 100, 50, 30]

# 정렬
# pandas.sort_values()
nums.sort()
print(nums)

## 참고: 반환하는 것이 없는 함수는 결과로 None이 찍힘

[6, 10, 30, 50, 100]

In [ ]:
# 튜플
# () 내에 변수를 넣어 사용
# 튜플은 한 번 생성되면 값 변경이 불가능하다. ==> 요소 추가, 제거, 수정이 불가능 ***

a = (1,2,3,4,5)

a[0]

## TypeError: 'tuple' object does not support item assignment
#a[0] = 10

## AttributeError: 'tuple' object has no attribute 'append'
#a.append(10)

# 그래서 보통 새로운 튜플을 만들어 튜플을 변형한다.
new_a = a + (10, )
new_a

(1, 2, 3, 4, 5, 10)

In [8]:
# Dictionary
# 파이썬에서는 JSON이 없고 Dict 라고 부름
# {} 내부에 key:value 쌍을 넣는다.
# value로는 다양한 타입의 값이 들어갈 수 있다. Dict 또한 Dict의 value로 사용 가능.
# API 라고 불리는 형태와 동일하다. FastAPI 를 나중에 다룰 것.
x = {"name":"soom", "age":[29, 30], "city": "Seoul"}
type(x)

# Dictionary는 index로 key를 사용한다.
print(x['city'])
print(x['age'])
# 하지만 위는 오류에 취약한 코드이다.

#print(x['ages'])
## KeyError: 'ages'
# 직접 입력하다 실수로 없는 key를 사용하게 되면 오류가 발생하기 때문에...

# 함수로 get을 많이 사용
x.get('ages', 0)
# 없는 key라고 하더라도, 입력해둔 기본 값인 0을 반환한다.
# 즉, 오류 발생 방지가 가능한 코드이다.

# 그 외에 try, except를 활용해 예외 처리가 가능하다.

Seoul
[29, 30]

0

In [ ]:
# 반복ㄱ문에서 많이 사용
for key in x.keys():
  print(key, x[key])
# ----------------------
for key, value in x.items():
  print(key, value)
# ----------------------
x.items()

name soom
age [29, 30]
city Seoul
name soom
age [29, 30]
city Seoul

dict_items([('name', 'soom'), ('age', [29, 30]), ('city', 'Seoul')])

In [ ]:
# update
new_name = {'name':'ssoo'}
x.update(new_name)
x

{'name': 'ssoo', 'age': [29, 30], 'city': 'Seoul'}

In [ ]:
# key 제거
# del을 더 많이 쓴다고 함
del x['city']
# x.pop('city')

In [ ]:
# 집합형 Set
# 순서가 없다.
# 중복을 허용하지 않음. unique value
x = set([1,2,3,4,5,6,6,6,6,6])
# 중복된 값을 넣어도 중복된 요소는 제거한다.
x

y = set([1,2,3,4,5,3,4,6,7,6,4,8,2,3,1])
y

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Bool
# True || False
x = True
type(x)

1 < 100

True

In [ ]:
## 제어문
# 조건문 if
# 반복문 for, while


# if 조건문
num = 100
if num < 5:
  print("숫자가 5보다 작습니다.")
elif num < 10:
  print("숫자가 10보다 작습니다.")
else:
  print("숫자가 10보다 큽니다.")

숫자가 10보다 큽니다.

In [ ]:
# 서울에서 부산을 간다고 가정 하에 나의 주머니에 있는 돈에 따른 조건문
# 입력값을 받는다 ==> 입력값은 str이다. 그래서 int()를 통해 형변환
money = int(input("현재 보유 금액은?"))

if money >= 70000:
  print("비행기를 타세요")
elif money >= 50000:
  print("기차를 타세요")
elif money >= 30000:
  print("버스를 타세요")
else:
  print("걷자...")

현재 보유 금액은?65000
기차를 타세요

In [ ]:
# 현금은 없지만 카드는 있다네
money = int(input("현재 보유 금액은?"))
card = True
# and &
# or |
# (python 3.9 ^)

if (money >= 70000) | (card == True):
  print("비행기를 타세요")
elif money >= 50000:
  print("기차를 타세요")
elif money >= 30000:
  print("버스를 타세요")
else:
  print("걷자...")

현재 보유 금액은?10000
비행기를 타세요

In [ ]:
# 비교 연산자
a = 1
b = 3
a == b
a != b
a > b
a <= b

True

In [ ]:
## 파이썬 코드 10줄로 해결할 부분을 sql문 한 줄로 해결할 수도 있다.

In [21]:
# for 반복문
# range(10): 0 ~ 9
for j in range(10):
  print(j)

# 범위를 지정할 수도 있다.
# (시작, 끝, step)
for i in range (2, 11, 2):
  print(i)

0
1
2
3
4
5
6
7
8
9
2
4
6
8
10

In [24]:
# list를 응용할 수도 있다.
cities = ['seoul', 'daejeon', 'daegu', 'busan']

# 변수 i는 직관성이 떨어지므로 리스트의 복수형 변수의 단수형의 변수명을 지어 사용하자
#for i in cities:
for city in cities:
  print(city)

seoul
daejeon
daegu
busan

In [25]:
for city in cities:
  if city == 'busan':
    print("해운대를 가자")

해운대를 가자

In [26]:
for i in range(len(cities)):
  print(i)
else:
  print("done!")

0
1
2
3
done!

In [27]:
for i in "python":
  print(i)

p
y
t
h
o
n

In [ ]:
# while 반복문
# 조건이 거짓이 될 때 정지한다.
a = 0
while a < 5:
  a+=1
  print(a)
  #print(a) #해당 조건은 항상 True이므로 무한히 반복하게 된다.

# 시간복잡도를 따졌을 때 for문이 더 효율적이고, 무한히 반복해야 할 조건일 경우엔 while문을 쓰자

1
2
3
4
5

In [ ]:
# 1부터 5까지 더하는 프로그램

# for
sum = 0
for i in range(5):
  i += 1
  sum += i
print(sum)

sum = 0
for i in range(1,6):
  sum += i
print(sum)

# while
sum = 0
i = 0
while i < 5:
  i += 1
  sum += i
print(sum)

15
15
15

In [ ]:
# 제어문
# continue, break

for i in range(10):
  if 3 <= i <= 5:
    print("조건문 i: ", i)
  print(i)

for i in range(10):
  if 3 <= i <= 5:
    print("조건문 i: ", i)
    #break # 반목문 종료
    continue # 그 이후 문장은 제외하고 다시 if 조건문으로 되돌아감
  print(i)

0
1
2
조건문 i:  3
3
조건문 i:  4
4
조건문 i:  5
5
6
7
8
9
0
1
2
조건문 i:  3
조건문 i:  4
조건문 i:  5
6
7
8
9

In [ ]:
# 문제 1. 1부터 10까지의 정수 중에서 짝수만 출력하는 코드를 작성하세요.

for i in range(1,11):
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
# 문제 2. 사용자로부터 입력받은 숫자가 양수인지 음수인지 출력하는 코드를 작성하세요.

user_input = int(input("어떤 정수를 입력하세요!"))

if user_input < 0:
  print("음수입니다.")
elif user_input == 0:
  print("이건 0")
else:
  print("음수입니다.")

# user_input = 0

어떤 정수를 입력하세요!6
음수입니다.

In [ ]:
# 문제 3. 1부터 100까지의 정수 중에서 3의 배수이면서 5의 배수인 정수의 합을 구하는 코드를 작성하세요.
sum = 0
for i in range(1, 101):
  if (i % 3 == 0) & (i % 5 == 0):
    sum += i
print(sum)

315

In [12]:
# 문제 4. 사용자로부터 n개의 정수를 입력받아, 이 중에서 가장 큰 값과 가장 작은 값을 구하는 코드를 작성하세요.
user_input_list = []
user_count = int(input("몇 개의 숫자를 입력하시겠어요?"))
for i in range(user_count):
  user_input = int(input(f"{i+1}번째 정수를 입력하세요: "))
  user_input_list.append(user_input)

max_num = user_input_list[0]
min_num = user_input_list[0]

for i in user_input_list:
  if i > max_num:
    max_num = i

  if i < min_num:
    min_num = i

min_num, max_num

(1, 10)

In [ ]:
##TODO: sort 사용하기 > sort한 뒤, [0]이 min, [n]이 max

In [13]:
# 문제 5. 사용자로부터 입력받은 숫자의 구구단을 출력하는 코드를 작성하세요.
user_input = int(input("몇 단을 출력할까요?"))

for x in range(1,10):
  if x == user_input:
    print("-"*5, f'{x}단입니다!', "-"*5)
    for y in range(1,10):
      print(f"{x} * {y} == {x*y}")

----- 3단입니다! -----
3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27

In [17]:
## 함수, 클래스

# 함수 def - define, definition
# self - class 안에서 정의된 함수에서 쓰임
def my_name(age, name): # 매개변수 - input
  print(f"저는... {age}살 {name}입니다.")
  # output을 만드려면, 반환return을 한다.
  return age, name

# my_name(name="soom")
## 매개변수 하나만 입력하면 오류
## TypeError: my_name() missing 1 required positional argument: 'age'"

output = my_name(30, "soom")
output

저는... 30살 soom입니다.

(30, 'soom')

In [ ]:
# 파이썬 내장함수 built-in functions
a = 'python'
b = a.upper()
a, b

### 원래는 비동기가 지원되지 않던 python. 현재는 비동기async를 지원하려는 움직임이 보인다.

5

In [ ]:
# 파이썬 외장함수 external functions: import를 통해 모듈을 불러와 사용
import random
random.randint(1, 10) # 1~10 사이의 난수 반환

c = [1,1,2,3,4,5,6]
random.choice(c)

import sys
sys.version_info
py_version = sys.version_info
print(type(py_version))
print(py_version)

#TODO: str이므로 split 해서 사용해야겠지요!
#if sys.version_info < 3.9:
  #print("파이썬 버전을 업데이트 하세요.")

import os
os.getcwd() # current working directory
# os.mkdir("test_dir")

import time
time.time() #UTC 현재 시각을 초 단위로 반환
time.localtime(time.time()) #서버 시간을 기준으로 UTC 시간을 변환하여 반환

<class 'sys.version_info'>
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=3, tm_hour=7, tm_min=14, tm_sec=22, tm_wday=2, tm_yday=94, tm_isdst=0)

In [ ]:
# 클래스
# 클래스는 Camel Case를 사용하여 명명한다.
## 상속 받는 경우 -> Bread를 상속받는 FishBread
## class FishBread(Bread)
class FishBread:
  # 클래스에는 초기화 함수가 필요하다 / 생성자 - 필수는 아닌데 권고
  # 클래스가 호출됐을 때 가장 먼저 실행되는 함수/method
  def __init__(self, name, ingredient, price):
    #TODO: 클래스를 통해 전역변수로 사용할 수 있다? self 공부하기
    # self 라는 매개변수를 통해 그 외 매개변수들도 쓸 수 있게 된다.
    self.name = name
    self.ingredient = ingredient
    self.price = price

  def bread(self):
    print(f"붕어빵의 이름은 {self.name}, 재료는 {self.ingredient}이고 가격은 {self.price}이다.")

# 인스턴스 - 매개변수를 통해 만들어진 객체 - 클래스 내부의 변수와 함수를 사용할 수 있는 상태
redbean_bread = FishBread("팥붕", "팥", 1000)
redbean_bread, redbean_bread.name, redbean_bread.name, redbean_bread.price
redbean_bread.bread()

cream_bread = FishBread("슈붕", "슈크림", 1500)
cream_bread, cream_bread.name, cream_bread.name, cream_bread.price
cream_bread.bread()

붕어빵의 이름은 팥붕, 재료는 팥이고 가격은 1000이다.
붕어빵의 이름은 슈붕, 재료는 슈크림이고 가격은 1500이다.

In [ ]:
# 함수 -> 클래스 -> 모듈(=라이브러리) -> 패키지(=라이브러리)
# 모듈 단위의 라이브러리일 수도 있고, 패키지 단위의 라이브러리일 수 있다. 최소 모듈 단위부터 라이브러리가 될 수 있다.